* {
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
}

.container {
    width: 450px;
    height: 450px;
    border-radius: 8px;
    background-color: white;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

input {
    border: 1px solid rgb(194, 194, 194);
    padding: 15px;
    border-radius: 3px;
    width: 100%;
    transition: .3s;
    /* color: rgb(255, 218, 218); */
}

input:focus {
    outline: 1px solid black;
}

.register {
    padding: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
    transition: .3s;
    font-weight: 600;
    color: white;
    background-color: rgb(39, 80, 230);
}

.register:hover {
    background-color: black;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.check {
    position: absolute;
    top: 12px;
    right: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: block;
}